.header-form {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 20px;
    padding: 20px 0;
}
    .header-form > input {
        display: inline-block;
        width: 100%;
        line-height: 32px;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        transition: all 1s ease;
    }

    .header-form > label {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 0;
        font-size: 1em;
        transform-origin: 0 0;
        transition: all 1s ease;
        color: #fff;
    }

    .header-form > input:focus + label {
        transform: translateY(-16px) scale(.75);
    }

    .header-form > input:focus {
        outline: none;
    }

    /* input:(placeholder-shown) + label {
        transform: translateY(-16px) scale(.75);
    } */


.content-form {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

    .cf-left {
        display: inline-block;
        width: 45%;
        float: left;
    }

    .cf-right {
        display: inline-block;
        width: 45%;
        float: right;
    }

    .cf-bottom {
        display: inline-block;
        width: 100%;
        margin-top: 40px;
    }

    .content-form input {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        border: none;
        position: relative;
        outline: none;
        background: none;
        border-bottom: 1px solid gray;
    }

    .content-form label {
        position: absolute;
        transform-origin: 0 0;
        transform: translate(0, 10px) scale(1);
        transition: all .5s ease;
    }

    .action:active label {
        transform: translate(0, -16px) scale(.8);
    }