/*************
 HEADER FORM  

 ************/

.header-form {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 20px;
    padding: 20px 0;
}

    .header-form > input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        font-size: 20px;
        line-height: 24px;
        transition: all 2s ease;
        color:rgb(255, 255, 255);
        padding-bottom: 5px;
    }

    .header-form > input + label {
        position: absolute;
        top: 15px;
        left: 0;
        color: #fff;
        transition: all 1s ease;
        transform-origin: 0 0;
        outline: none;
    }

    .header-form > input:focus {
        outline: none;
        border-bottom: 1px solid rgb(4, 98, 138);
    }

    .header-form > input:focus + label {
        top: -5px;
        transform: scale(0.9);
        color: rgb(4, 98, 138);
    }

    .header-form > input:not(:placeholder-shown) + label {
        top: -5px;
        transform: scale(0.9);
        color: rgb(4, 98, 138);
    }

    .header-form > input:not(:placeholder-shown) {
        border-bottom: 1px solid rgb(4, 98, 138);
    }


/*************
Content form 
 
 ************/



.content-form {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

    .cf-left {
        display: inline-block;
        width: 45%;
        float: left;
        position: relative;
    }

    .cf-right {
        display: inline-block;
        width: 45%;
        float: right;
        position: relative;
    }

    .cf-bottom {
        display: inline-block;
        width: 100%;
        margin-top: 40px;
        position: relative;
    }

    .action > input  {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        line-height: 24px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        color: rgb(62, 63, 66);
    }

    .action > label {
        position: absolute;
        transform-origin: 0 0;
        top: 10px;
        left: 0;
        transition: all .5s ease;
        color: rgb(143, 145, 153);
    }

    .action > input:focus + label {
        top: -15px;
        transform: scale(0.8);
    }

    .action > input:not(:placeholder-shown) + label {
        top: -15px;
        transform: scale(0.8);
    }

    