body {

}

/*************************
==========================
HEADER
==========================
**************************/

.header-container {
    display: inline-block;
    width: 100%;
    background-color: #2EB2EA;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

    .header {
        display: inline-block;
        width: 40%;
        text-align: center;
        margin: 10vh 0;
    }

        .logo {
            margin-bottom: 50px;
        }

        h1 {
            text-transform: uppercase;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 3em;
            color: #000;
        }

        p {
            display: inline-block;
            width: 100%;
            color: #BDC4D8;
            font-size: 1.5em;
            text-align: center;
            margin-top: 32px;
        }

/*************************
==========================
MAIN CONTENT
==========================
**************************/
            

    .content-container {
        display: inline-block;
        width: 100%;
        background-color: #fff;
        height: 80vh;
        text-align: center;
        margin-top: 100px;
    }

        .main-content {
            display: inline-block;
            width: 80%;
        }

            .left {
                display: inline-block;
                width: 50%;
                float: left;
                padding: 0 16px;
            }

                .main-content h3 {
                    display: inline-block;
                    width: 100%;
                    text-align: start;
                    text-transform: uppercase;
                }

                .main-content p {
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    text-align: start;
                }

                .main-content a {
                    text-decoration: none;
                    color: rgb(241, 81, 127);
                }

            .right {
                display: inline-block;
                width: 40%;
                float: right;
            }