.progress-bar {
    text-align: left;
} 
 
 .progress-bar p {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
     }

.progress-bar span {
    display: inline-block;
    float: right;
}

.bar {
    height: 5px;
    width: 100%;
    border-radius: 10px;

    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: 1;
    }

    progress::-webkit-progress-bar {
         background-color: #EEEEEE; 
            }

    progress::-webkit-progress-value {
        background-color: #01A7F3;
            }

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}